In [10]:
import pandas as pd
from sklearn.datasets import load_digits
digits=load_digits()

In [11]:
df=pd.DataFrame(digits.data)

In [13]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [15]:
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [16]:
digits.target

array([0, 1, 2, ..., 8, 9, 8])

In [17]:
digits.target_names

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
df['target']=digits.target

In [21]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

In [23]:
X=df.drop('target',axis='columns')

In [35]:
Y=df.target

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [41]:
from sklearn.svm import SVC

In [69]:
model=SVC(kernel='rbf',gamma='scale')

In [70]:
model.fit(X_train,Y_train)

SVC()

In [71]:
model.predict(X_test)

array([7, 3, 3, 5, 0, 7, 0, 2, 3, 1, 7, 7, 6, 2, 5, 7, 6, 2, 3, 6, 1, 5,
       8, 3, 5, 7, 1, 1, 4, 6, 4, 2, 4, 5, 5, 4, 3, 0, 3, 5, 0, 8, 4, 7,
       6, 8, 2, 4, 4, 6, 2, 7, 7, 9, 6, 1, 3, 6, 3, 8, 5, 2, 5, 3, 9, 0,
       9, 9, 9, 0, 9, 2, 5, 6, 3, 6, 9, 8, 0, 3, 3, 1, 9, 4, 3, 0, 0, 2,
       5, 4, 3, 7, 6, 1, 3, 7, 1, 5, 4, 6, 7, 1, 5, 4, 7, 0, 1, 2, 6, 0,
       2, 8, 0, 9, 1, 8, 7, 7, 1, 4, 2, 5, 2, 2, 5, 5, 3, 5, 3, 2, 4, 5,
       4, 8, 4, 8, 8, 2, 6, 8, 2, 8, 1, 6, 4, 0, 2, 3, 8, 2, 0, 3, 8, 7,
       3, 6, 6, 4, 3, 8, 4, 0, 4, 1, 8, 1, 1, 3, 8, 7, 6, 9, 8, 8, 3, 2,
       8, 6, 6, 5, 3, 5, 2, 2, 4, 2, 4, 1, 4, 9, 4, 8, 2, 8, 7, 1, 8, 6,
       4, 4, 2, 4, 5, 5, 8, 8, 6, 2, 1, 3, 7, 6, 2, 6, 7, 6, 3, 8, 0, 2,
       0, 4, 0, 3, 0, 6, 5, 8, 6, 5, 7, 1, 3, 2, 2, 4, 2, 3, 2, 1, 9, 5,
       8, 9, 9, 7, 8, 9, 4, 4, 9, 3, 7, 9, 9, 2, 7, 0, 8, 6, 4, 7, 4, 8,
       1, 0, 6, 2, 4, 3, 8, 6, 7, 9, 8, 1, 6, 5, 6, 2, 3, 8, 9, 4, 4, 4,
       7, 8, 7, 3, 6, 9, 2, 7, 4, 3, 0, 0, 7, 7, 9, 7, 0, 7, 7, 5, 0, 4,
       5, 6, 7, 0, 6, 1, 4, 0, 8, 2, 5, 7, 3, 0, 1, 9, 5, 7, 8, 5, 1, 8,
       8, 3, 1, 9, 3, 8, 4, 0, 5, 7, 5, 0, 5, 2, 8, 2, 4, 1, 0, 7, 6, 6,
       5, 0, 0, 7, 3, 2, 7, 6])

In [72]:
model.score(X_test,Y_test)

0.9944444444444445

In [74]:
linear_kernel=SVC(kernel='linear')

In [76]:
linear_kernel.fit(X_train,Y_train)

SVC(kernel='linear')

In [77]:
linear_kernel.predict(X_test)

array([7, 3, 3, 5, 0, 7, 0, 2, 3, 1, 8, 7, 6, 2, 5, 7, 6, 2, 3, 6, 1, 5,
       8, 3, 5, 7, 1, 1, 4, 6, 4, 2, 4, 5, 5, 4, 3, 0, 9, 5, 0, 8, 4, 7,
       6, 8, 2, 4, 4, 6, 2, 7, 7, 9, 6, 1, 3, 6, 3, 8, 5, 2, 5, 3, 9, 0,
       9, 9, 9, 0, 9, 2, 5, 0, 3, 6, 9, 8, 0, 3, 3, 1, 9, 4, 3, 0, 0, 2,
       5, 4, 3, 7, 6, 1, 3, 7, 1, 5, 4, 6, 7, 1, 5, 4, 7, 0, 1, 2, 6, 0,
       2, 8, 0, 9, 1, 8, 7, 7, 1, 4, 2, 5, 2, 2, 5, 5, 3, 5, 3, 2, 4, 5,
       4, 8, 4, 8, 8, 2, 6, 8, 2, 8, 1, 6, 4, 0, 2, 3, 8, 2, 0, 3, 8, 7,
       3, 6, 6, 4, 3, 8, 4, 0, 4, 1, 8, 1, 1, 3, 8, 7, 6, 9, 8, 8, 3, 2,
       8, 6, 6, 5, 3, 5, 2, 2, 4, 2, 4, 1, 4, 9, 4, 8, 2, 8, 7, 1, 8, 6,
       4, 4, 2, 4, 5, 5, 8, 8, 6, 2, 1, 3, 7, 6, 2, 6, 7, 6, 3, 8, 0, 2,
       0, 4, 0, 3, 0, 6, 5, 8, 6, 5, 7, 1, 3, 2, 2, 4, 2, 3, 2, 1, 9, 5,
       1, 9, 9, 7, 8, 9, 4, 4, 9, 3, 7, 9, 9, 2, 7, 0, 8, 6, 4, 7, 4, 8,
       1, 0, 6, 2, 4, 3, 8, 6, 7, 9, 1, 1, 6, 5, 6, 2, 3, 8, 9, 4, 4, 4,
       7, 8, 7, 3, 6, 9, 2, 7, 4, 3, 0, 0, 7, 7, 9, 7, 0, 7, 7, 5, 0, 4,
       7, 6, 7, 0, 6, 1, 4, 0, 8, 2, 5, 7, 3, 0, 1, 9, 5, 7, 8, 5, 1, 8,
       8, 3, 1, 9, 3, 8, 4, 0, 5, 7, 5, 0, 5, 2, 8, 2, 4, 1, 0, 7, 6, 6,
       5, 0, 0, 7, 3, 2, 7, 6])

In [78]:
linear_kernel.score(X_test,Y_test)

0.9805555555555555