In [70]:
import pandas as pd

In [71]:
df=pd.read_csv('spam.csv')

In [72]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [73]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0 )

In [74]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [75]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(df.Message,df.spam,test_size=0.25)

In [76]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x=v.fit_transform(X_train.values)
x.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [77]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x,Y_train)

MultinomialNB()

In [78]:
email = [
    'Hey mohan how are you?',
    'Get upto 20% discount exclusive offer '
]
email_count=v.transform(email)
model.predict(email_count)

array([0, 1], dtype=int64)

In [79]:
test=v.transform(X_test)
model.score(test,Y_test)

0.9827709978463748

In [84]:
from sklearn.pipeline import Pipeline
clf= Pipeline([ ('vectorizer',CountVectorizer()),('nb',MultinomialNB())])

In [85]:
clf.fit(X_train,Y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])